In [3]:
# Let's load necessary libraries and the datasets
# "pip install seaborn" if necessary

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

In [7]:
data_folder = './Data/'
movies = pd.read_csv(data_folder+'MovieSummaries/plot_summaries.txt', header=None, sep='	')
movies.head(10)

          0                                                  1
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...
5   5272176  The president is on his way to give a speech. ...
6   1952976  {{plot}} The film opens in 1974, as a young gi...
7  24225279  The story begins with Hannah, a young Jewish t...
8   2462689  Infuriated at being told to write one final co...
9  20532852  A line of people  drool at the window of the s...